
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

#header {
  background-color: #3c3a39;
  min-width: 375px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 24px;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.btn {
  background: none;
  outline: none;
  border: none;
}

#Headline {
  background: #1c1a19;
  height: 590px;
  padding: 120px 24px;
  background-image: url(./images/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 135%;
}

#Headline h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  color: #ff6b00;
}

#Headline h4 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  color: #fff5e1;
}

#Headline p {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.Social-media-icons li {
  list-style: none;
}

.Social-media-icons ul {
  display: flex;
  padding-left: 0;
}

.Social-media-icons a {
  text-decoration: none;
}

#recent-works-header > h1 {
  position: static;
  width: 327px;
  height: 83px;
  left: 0;
  top: 0;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 24px;
  margin-top: 120px;
}

.thin-line {
  position: static;
  width: 327px;
  height: 0;
  left: 0;
  top: 107px;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 24px;
  margin-bottom: 80px;
}

#recent-works-header + div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.Featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  position: static;
  width: 375px;
  height: 568px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.Featured + div {
  position: static;
  width: 327px;
  height: 237px;
  left: 24px;
  top: 0;
  background:url(image_processing20200716-21735-f07s4k.png);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.Img-placeholder + div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.Img-placeholder + div > h3 {
  position: static;
  width: 327px;
  height: 36px;
  left: 0;
  top: 0;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091E42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.Img-placeholder + div > p {
  position: static;
  width: 327px;
  height: 147px;
  left: 0;
  top: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.Img-placeholder + div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 297px;
  height: 40px;
}

.tags {
  background: #fff;
  border: 1px solid #8993A4;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin: 0 12px 0 0;
}

.btn {
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #FF6B00;
  margin: 12px 0;
  outline: none;
  border: none;
  border-radius: 1px;
  }

#Card-container {
  border: 2px solid green;
  display: grid;
  grid-template-columns: [coll-start] 1fr;
}

.project-card {
  margin: 24px 0;
  height: 386px;
  position: relative;
  list-style: none;
  border: 2px solid purple;
  background: linear-gradient(180.45deg,
  rgba(38, 38, 38, 0) 0.75%,
  rgba(38, 38, 38, 0.9) 61.94%),
  url(./images/Card-image.png);
}

.Card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  height: 248px;
  bottom: 62px;
}

.Card-description + div {
  position: static;
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}
