
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
}

#header {
  background-color: #3c3a39;
  min-width: 375px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 24px;
}

#logo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.btn {
  background: none;
  outline: none;
  border: none;
}

#Headline {
  background: #1c1a19;
  height: 590px;
  padding: 120px 24px;
  background-image: url(./images/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 135%;
}

#Headline h1 {  
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

#Headline h1 {
  color: #ff6b00;
}

#Headline h4 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

#Headline h4 {
  color: #fff5e1;
}

#Headline p {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.Social-media-icons a {
  text-decoration: none;
}

#Headline p {
  color:#ffffff ;
}
