@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700&family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

#header {
  background-color: #3c3a39;
  height: 48px;
  padding: 12px;
}

header > span > img {
  z-index: 0;
}

.mob-menu-hidden {
  display: none;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#logo {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.desktop-nav-links {
  display: none;
  z-index: -1;
}

.menu {
  cursor: pointer;
  transition: 0.25s ease-in;
  transform: scale(1);
}

.menu.invisible {
  transform: scale(0);
}

.menu img {
  width: 28px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  background-color: hsl(231, 6%, 22%);
  transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.mobile-menu.active {
  transform: scale(1);
  height: 100vh;
}

.menu-item {
  padding-left: 30px;
  text-align: left;
  margin-top: 0;
}

li {
  list-style-type: none;
}

.menu-item li {
  padding: 10px;
  list-style: none;
  z-index: 1;
}

.Social-media-icons a {
  text-decoration: none;
}

.menu-item li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

#close-btn {
  align-self: end;
  width: 40px;
  padding: 10px;
}

.btn {
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 1px;
}

.first-card-img-desktop {
  width: 100%;
}

#btn-first {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 12px;
  width: 327px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
}

#btn-first1 {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 12px;
  width: 327px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
}

#Headline {
  background: #1c1a19;
  height: 590px;
  padding: 120px 24px;
  background-image: url(./images/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 135%;
}

#Headline h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  color: #ff6b00;
}

#Headline h4 {
  position: static;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  color: #fff5e1;
}

.Right-block > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 12px 0;
}

.Card-description > p {
  position: static;
  width: 295px;
  height: 87px;
  left: 16px;
  top: 101px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

#Headline p {
  position: static;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.Social-media-icons li {
  list-style: none;
}

.Social-media-icons ul {
  display: flex;
  padding-left: 0;
}

#recent-works-header > h1 {
  position: static;
  width: 327px;
  height: 83px;
  left: 0;
  top: 0;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 24px;
  margin-top: 120px;
}

.thin-line {
  position: static;
  height: 0;
  left: 0;
  top: 107px;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 24px;
  margin-bottom: 80px;
}

.Featured + div {
  position: static;
  width: 327px;
  height: 237px;
  left: 24px;
  top: 0;
  background: url(image_processing20200716-21735-f07s4k.png);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

@media screen and (max-width: 768px) {
  #headline-section {
    background-image: url(./images/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: 100% 230px;
  }
}

#recent-works-header + div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.Featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  position: static;
  width: 375px;
  height: 568px;
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.img-placeholder {
  width: 327px;
  height: 237px;
  background: url(./images/Img-Placeholder.png);
  background-repeat: no-repeat;
  margin: 0;
}

.Right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.Right-block > h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 12px 0;
}

.Right-block > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 297px;
  height: 40px;
  list-style: none;
}

.tags {
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin: 0 12px 0 0;
}

.btn-feature {
  width: 124px;
  margin: 12px 0 0 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-self: flex-start;
  color: #fff;
  background: #ff6b00;
  height: 48px;
}

#Card-container {
  padding: 0 16px;
  display: grid;
  grid-template-columns: [col1-start] 1fr;
}

.project-card {
  margin: 24px 0 0 0;
  position: relative;
  list-style: none;
  background: url(./images/Card-works.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  margin: 70px 0 14px 0;
}

.Card-description > h3 {
  position: static;
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.Description-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 236px;
  height: 40px;
  left: 16px;
  top: 200px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.Card-description li {
  padding: 10px 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin: 0 12px 0 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.btn-card {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
}

#divider {
  border-bottom: 1px solid #fff;
  width: 327px;
  margin: 209px 0 0 0;
}

#About-and-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: auto;
  padding-top: 120px;
  background: #1c1a19;
  margin-top: 120px;
  background-image: url("images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 215px 370px;
}

#About-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  padding: 120px 24px;
  height: 563px;
  margin-bottom: 120px;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#About-me {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  background: #1c1a19;
}

.About-description {
  position: static;
  width: 327px;
  height: 148px;
  left: 24px;
  top: 223px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.btn-About-me {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  margin-top: 24px;
}

#skills {
  display: flex;
  flex-direction: column;
  width: 329px;
  margin-top: 128px;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

div.tabs {
  padding-bottom: 120px;
}

section #skills ul {
  display: block;
}

.recto {
  width: 227px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding: 5px 70px 5px 0;
  list-style: none;
  vertical-align: middle;
  margin-left: 80px;
  color: #fff;
}

span#cube {
  margin: 0;
  box-sizing: border-box;
  width: 227px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style: none;
  vertical-align: middle;
  color: #fff;
  background: url("./images/Rectangle55.png") no-repeat left center;
  padding: 5px 80px 5px 0;
  margin-left: 40px;
  padding-left: 40px;
}

span#brecto {
  background: url("./images/Rectangle56.png") no-repeat left center;
  padding: 5px 100px 5px 30px;
  margin-left: 50px;
}

span#circle {
  background: url("./images/Rectangle57.png") no-repeat left center;
  font-family: "Roboto", sans-serif;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  margin-left: 110px;
  padding: 0 120px 0 20px;
}

.centro,
.centro > li {
  text-align: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin: 16px;
}

ul.centro {
  padding-left: 0;
}

#skills > ul > ul:nth-child(6) > li:nth-child(5) {
  margin-bottom: 120px;
}

#contact-form {
  position: static;
  width: 327px;
  height: 216px;
  left: 0;
  top: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  margin-left: 24px;
  margin-right: 24px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 327px;
  margin-bottom: 24px;
  margin-left: -20px;
}

section#contact-form.work-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 327px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 48px;
}

#contact-form > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
  box-sizing: border-box;
  width: 327px;
  height: 216px;
  margin-left: -23px;
  margin-right: 23px;
  margin-bottom: 73px;
  background: #fff;
}

.font-style {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
}

.name-email {
  margin-bottom: 0;
  margin-top: 40px;
  height: 42px;
  width: 319px;
}

#email {
  margin-top: 0;
}

input,
textarea {
  width: 295px;
  height: 18px;
  color: #979493;
  border: none;
  margin: 24px 0;
}

.form-hr {
  color: #dbd8d7;
  margin-bottom: 24px;
}

#textarea {
  width: 327px;
  height: 114px;
  color: #3c3a39;
  background-color: #fbf8f7;
  padding: 12px;
  margin: 0 24px;
}

menu.flex-item.bottom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 22px;
  margin: 30px 0;
  column-gap: 24px;
}

button.custom {
  width: 131px;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  margin: 24px auto;
}

p.hr-line.full-hr {
  display: flex;
  margin-top: 550px;
  width: 375px;
  color: #e5e5e5;
  margin-bottom: 0;
}

div.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 120px;
  width: 375px;
}

p#btn-capital {
  width: 134px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background-color: #0d151e;
  margin: 0 120.5px 12px 120.5px;
}

@media screen and (max-width: 768px) {
  #headline-section {
    background-image: url(./images/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: 100% 300px;
  }

  .open-menu {
    display: flex;
    flex-direction: column;
  }

  #recent-works-header {
    display: inline;
    align-items: center;
    padding: 0;
  }

  #recent-works-header > h1 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--deepDark);
    height: 83px;
    float: inline-start;
  }

  .my-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .thin-line {
    border: 1px solid #212121;
    height: 0;
    width: 327px;
    margin: 0 0 80px 0;
    float: inline-end;
    display: inline;
  }

  .Featured {
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
  }

  .first-card-img-mobile {
    display: none;
  }

  .img-placeholder {
    display: none;
    width: 100%;
    height: 100%;
  }

  .Right-block {
    align-items: center;
    padding: 0;
  }

  .Right-block > h3 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: var(--blue-like);
    margin: 12px 0;
  }

  #Card-container {
    padding: 0 16px;
    display: grid;
    grid-template-columns: [col1-start] 1fr;
  }
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  #header {
    display: flex;
    align-items: center;
  }

  .Social-media-icons ul {
    display: block;
    position: absolute;
    padding-left: 100px;
    left: 100.25%;
    bottom: 103.87%;
  }

  #logo {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-left: 123px;
    transition-property: color;
    transition-delay: 1008ms;
    transition-duration: 1s;
    padding-left: 154px;
  }

  #logo:hover {
    color: #ff6b00;
  }

  .desktop-nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 151px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0px;
    padding-left: 700px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .desktop-nav-links > li {
    margin: 0 16px 0 16px;
    position: relative;
  }

  .desktop-nav-links > li > a {
    text-decoration: none;
    color: var(--white);
  }

  #recent-works-header {
    display: inline;
    align-items: center;
    padding: 0;
  }

  #recent-works-header > h1 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--deepDark);
    height: 83px;
    float: inline-start;
  }

  .img-placeholder {
    display: none;
  }

  #Headline {
    height: 798px;
    padding: 192px 24px 24px 24px;
    background-image: url(images/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: relative;
  }

  .headline-text-wrapper {
    margin-left: 123px;
  }

  #Headline .headline-primary-text {
    font-size: 72px;
    line-height: 82px;
    width: 566px;
    height: 160px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 143px;
  }

  #Headline h4 {
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    padding-left: 143px;
    display: flex;
    order: 1;
    flex-grow: 0;
    margin: 12px 0;
  }

  .headline-desc {
    width: 566px;
    height: 123px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-top: 12px;
    padding-left: 143px;
    display: flex;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .Social-media-icons {
    position: absolute;
    padding: 50px 0;
    display: block;
  }

  #my-works,
  #recent-works-header + div,
  #recent-works {
    align-items: initial;
  }

  #recent-works {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 135px 24px;
    margin: 0 118px;
  }

  .menu {
    display: none;
  }

  .first-card-img-mobile {
    display: none;
  }

  .first-card-image-container {
    height: 448px;
    background: url(image_processing20200716-21735-f07s4k.png);
    display: flex;
    flex-wrap: wrap;
  }

  .Right-block {
    width: 50%;
    align-items: initial;
  }

  .Featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    gap: 24px;
  }

  .btn-feature {
    width: 124px;
    margin: 12px 0 0 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    align-self: flex-start;
    color: #fff;
    background: #ff6b00;
    height: 48px;
  }

  #Card-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 435px 435px;
    grid-gap: 24px;
    align-items: initial;
    height: 435px;
  }

  .btn-desk {
    display: none;
  }

  #About-and-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100px;
    margin-top: 450px;
    background-image: url(./images/illustration-about-me-desktop.png);
    background-size: 45%;
  }

  .tabs {
    display: flex;
    flex-direction: row;
  }

  #about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 130px 150px;
    position: absolute;
    left: 142px;
    width: 100%;
    margin-bottom: 60px;
    float: right;
  }

  #divider {
    margin: 800px 0 30px;
    width: 80%;
    border-bottom: 1px solid #fff;
  }

  .Header {
    justify-content: start;
    align-items: initial;
  }

  .About-me-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .About-me-header h3 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: var(--orange);
  }

  .About-description {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    margin: 24px 0;
  }

  div.footer {
    width: 100%;
  }

  section#contact-form.work-section {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 5% auto;
    gap: 40px;
  }

  form {
    width: auto;
  }

  menu.flex-item.bottom-link {
    width: 100%;
    border-top: 1px solid #dfe1e6;
    padding: 20px;
  }

  #btn-capital,
  p.hr-line.full-hr {
    display: none;
  }

  #contact-form > p {
    text-align: start;
    justify-content: start;
    margin-top: -60px;
  }

  .name-email,
  #textarea {
    width: 652px;
  }

  #textarea {
    padding-bottom: 70px;
  }

  button.custom {
    margin-left: 23px;
  }
}
